@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Já conhece o mascote do <a href="https://github.com">GitHub, o Octocat!!</a></h1>
    <p>Aqui embaixo, você pode conferir uma versão aleatória desse lindo mascote, que está disponivel no <a href="https://octodex.github.com/">Octodex</a></p>
    <p>E se você gostou, e quer montar a sua própria versão do Octocat, você consegue fazer isso no <a href="https://myoctocat.com/">My Octocat</a></p>
    <img src= "@Model.octoImage" />

</div>
